@charset "utf-8";

/*
@font-face{
    font-family: ;
    src: ;
}
*/

#table{
    background-color: rgb(173, 169, 169);
    font-size: 1.2em;
    font-family: Verdana, sans-serif;
    width: 100%;
    box-shadow: black 0px 0px 1px,
                                black 0px 0px 5px,
                                black 0px 0px 10px,
                                black 0px 0px 20px;
}

div#cal{
    width: 80%;
    margin: 30px auto 10px;
}

#table caption{
    font-family: Verdana, sans-serif;
    caption-side: top;
    text-align: center;
    padding-bottom: 10px;
    font-size: 4em;
    letter-spacing: 0.1em;
}

.week{
    font-family: Verdana, sans-serif;
    background-color: black;
    width: 14.28%;
    font-size: 1em;
    border-bottom: 3px solid gray;
    color: rgb(255, 251, 240);
}

.dates{
    text-align: left;
    vertical-align: top;
    font-size: 0.8em;
    padding: 3px;
    border: 1px dotted gray;
    background-color: black;
    height: 60px;
    color: rgb(255, 251, 240);
}

#today{
    font-weight: bold;
    color: white;
    background-color: grey;
    border: 2px solid white;
}