.glitch-title {
    display: inline;
    position: absolute;
    font-size: 4rem;
}

#title1 {
    z-index: 3;
    animation: glitch1 3s linear infinite;
}

#title2 {
    /* color: #F16F59; */
    /* color: #E2432B; */
    color: #ed2939;
    z-index: 2;
    animation: glitch2 3s linear infinite;
}

#title3 {
    /* color: #00C9FF; */
    color: #009EC1;
    animation: glitch3 3s linear infinite;
}

.chinese-title {
  /* color: #104955; */
  color: black;
  opacity: .7;
}

@keyframes glitch1 {
    0% {
      transform: skew(-.5deg, .9deg);
      opacity: .75;
    }
  
    15% {
      transform: none;
    }
  
    20% {
      transform: none;
    }
  
    28% {
      transform: skew(.5deg, -.8deg);
      opacity: 1;
    }
  
    35% {
      transform: none;
    }
  
    45% {
      transform: none;
    }
  
    50% {
      transform: skew(-.5deg, -1deg);
      opacity: .75;
    }
  
    64% {
      transform: none;
    }
  
    75% {
      transform: none;
    }
  
    81% {
      transform: skew(-.75deg, 1deg);
      opacity: 1;
    }
  
    86% {
      transform: none;
    }
  
    95% {
      transform: none;
    }
  
    100% {
      transform: skew(2.5deg, -.8deg);
      opacity: .75;
    }
  }
  
  @keyframes glitch2 {
    0% {
      transform: translate(4px, 3px);
      opacity: .5;
    }
  
    15% {
      transform: none;
      opacity: .25;
    }
  
    20% {
      transform: none;
      opacity: .25;
    }
  
    28% {
      transform: translate(5px, 4px);
      opacity: .5;
    }
  
    35% {
      transform: none;
      opacity: .25;
    }
  
    45% {
      transform: none;
      opacity: .25;
    }
  
    50% {
      transform: translate(6px, 5px);
      opacity: .5;
    }
  
    64% {
      transform: none;
      opacity: .25;
    }
  
    75% {
      transform: none;
      opacity: .25;
    }
  
    81% {
      transform: translate(2px, 5px);
      opacity: .5;
    }
  
    86% {
      transform: none;
      opacity: .25;
    }
  
    95% {
      transform: none;
      opacity: .25;
    }
  
    100% {
      transform: translate(6px, 3px);
      opacity: .5;
    }
  }
  
  @keyframes glitch3 {
    7% {
      transform: translate(-3px, -2px);
      opacity: .5;
    }
  
    15% {
      transform: none;
      opacity: .25;
    }
  
    20% {
      transform: none;
      opacity: .25;
    }
  
    28% {
      transform: translate(-4px, -1px);
      opacity: .5;
    }
  
    35% {
      transform: none;
      opacity: .25;
    }
  
    45% {
      transform: none;
      opacity: .25;
    }
  
    50% {
      transform: translate(-6px, -5px);
      opacity: .5;
    }
  
    64% {
      transform: none;
      opacity: .25;
    }
  
    75% {
      transform: none;
      opacity: .25;
    }
  
    81% {
      transform: translate(-2px, -5px);
      opacity: .5;
    }
  
    86% {
      transform: none;
      opacity: .25;
    }
  
    95% {
      transform: none;
      opacity: .25;
    }
  
    100% {
      transform: translate(-1px, -3px);
      opacity: .5;
    }
  }