/* TOPIC MODAL */

.blanket {
    width: 100vw;
    height: 100vh;
    background-color: rgba(78, 78, 78, 0.8);
    position: absolute;
    top:0px;
    left:0px;
    display: none;
    z-index:5000;
}

.form-modal {
    position: absolute;
    width: 75%;
    margin-top: 25px; 
    top: 10%;
    left: 12.5%;
    z-index:5001;
    background-color: white;
    padding: 10px;
    display: none;
    flex-direction: column;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.form-modal > form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.form-modal input, 
.form-modal textarea, 
.form-modal select  {
    display: block;
    margin: 0rem .7rem 0rem .7rem;
    font-size: 1rem;
}

.form-modal input, 
.form-modal textarea, 
.form-modal select {
    outline-color: #ed2939;
}

.form-modal select {
    font-size: 1rem;
    height: 30px;
}

.form-modal select > option:hover {
    background: #ed2939;
}

.form-modal textarea {
    min-height: 75px;
    max-height: 250px;
    font-size: 1rem;
}

input[type="submit"] {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    font-size: 1.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.24);
    background-color: white;
    border:none;
    transition: all .25s ease;
    cursor: pointer;
    padding: 0px;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    outline: none;
    background-color: #ed2939;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.24);
}

input[type="submit"]:focus {
    outline: none;
}

.form-modal label {
    margin: .7rem;
}